@model YANENAVIZYETYLABY.Models.FileV

@{
    ViewBag.Title = "Edit folder";
}

<h2>Edit File</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@ViewBag.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default" href="#">Cancel</a>
            </div>
        </form>
    </div>
</div>