@model IEnumerable<YANENAVIZYETYLABY.Models.ForumCategory>

@{
    ViewData["Title"] = "AllForums";
}

<h2>Forum</h2>

<ul>
    <li>
        <a asp-controller="ForumCategorys" asp-action="Create">Create New Category</a>
    </li>
</ul>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.OrderBy(x => x.Name))
    {
        <tr>
            <td>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"> @Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
    }
    </tbody>
</table>