@{
    ViewData["Title"] = "Index";
}

<h2>Mockups</h2>
<ul>
    <li><a asp-controller="Mockups" asp-action="AllForums">All Forums</a></li>
    <li><a asp-controller="Mockups" asp-action="SingleForum">Single Forum</a></li>
    <li><a asp-controller="Mockups" asp-action="SingleTopic">Single Topic</a></li>
    <li><a asp-controller="Folders" asp-action="Index">Files_System</a></li>
</ul>