@{
    ViewData["Title"] = "SingleForum";
}

<h2>Forum 1</h2>
<p>First forum description</p>

<p>
    <a href="#">Create new topic</a>
</p>

<div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <a href="#" style="font-size: 1.3em">First topic</a><br />
                    admin@example.com, Monday, June 12, 2017 3:42:50 PM
                </td>
                <td style="width: 100px">
                    5 replies
                </td>
                <td style="width: 220px">
                    user@example.com<br />
                    Monday, June 12, 2017 4:12:53 PM
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" style="font-size: 1.3em">Second topic</a><br />
                    admin@example.com, Monday, June 12, 2017 3:42:50 PM
                </td>
                <td style="width: 100px">
                    0 replies
                </td>
                <td style="width: 220px">
                    admin@example.com<br />
                    Monday, June 12, 2017 3:42:50 PM
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" style="font-size: 1.3em">Third topic</a><br />
                    admin@example.com, Monday, June 12, 2017 3:42:50 PM
                </td>
                <td style="width: 100px">
                    1 reply
                </td>
                <td style="width: 220px">
                    user@example.com<br />
                    Monday, June 12, 2017 4:12:53 PM
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" style="font-size: 1.3em">Fourth topic</a><br />
                    admin@example.com, Monday, June 12, 2017 3:42:50 PM
                </td>
                <td style="width: 100px">
                    3 replies
                </td>
                <td style="width: 220px">
                    user@example.com<br />
                    Monday, June 12, 2017 4:12:53 PM
                </td>
            </tr>
        </tbody>
    </table>
</div>

